body {
  background-color: peachpuff;
}

h1{
  color: red;
  font-family: Arial;
}
h3{
  color: black;
  font-style: oblique;
}

h4{
  color: black;
  font-size: 16
}

#back2top {
  width: 40px;
  line-height: 40px;
  overflow: hidden;
  z-index:999;
  display: none;
  cursor: pointer;
  -moz-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -o-transdorm: rorate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  position: fixed;
  bottom: 50px;
  right: 0;
  background-color: peachpuff;
  color: white;
  text-align: center;
  font-size: 30px
  text-direction: none;
}
#back2top: hover{
  background-color: white;
  color:white;
}
